{{#if @blog.logo}}
  <img style="max-width:50px;" src="{{@blog.logo}}"/>
{{/if}}
<div class="lead footer-blog-title">
  <span>{{@blog.title}}</span>
</div>
<div class="footer-blog-desc">
  {{@blog.description}}
</div>
