<div class="col-lg-12">

<div class="row">
	<section class="copyright text-center">
		<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}. All Rights Reserved
	</section>
</div>
</div>
<div class="col-lg-12">

<div class="row">
</div>
</div>
