<footer class="footer row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row ">
				<div class="col-xs-12 newsletter-title">

				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 newsletter-fancyfooter">
					{{> "newsletter"}}
				</div>
				<div class="col-sm-6 text-right">
					{{> "link-blog"}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{{> "tag-list"}}
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>

		{{> "copyright"}}
</footer>
