<div class="row">
		<div class="col-sm-offset-2 col-sm-10 sidebar">
			<div class="sidebar-share ptb15">
			<strong class="share-icon">Share</strong>
			{{> "share-post"}}
			</div>
			{{> "sidebar-author"}}
			{{> advertisement}}
			<div class="row">
			{{> "related-posts"}}
			</div>
			<div class="row fancy-cover text-center">
				{{> "newsletter"}}
			</div>
			<div class="row" id="insta_widget"></div>
			<div class="row" id="flickr_widget"></div>
			<div class="row" id="widget_twitter_sidebar">
			</div>
			<div class="row" id="widget_fb_sidebar">
			</div>
		</div>
</div>
{{> "widget-twitter-sidebar"}}
{{> "widget-facebook-sidebar"}}
{{> "widget-instagram-post"}}
{{> "widget-flickr-post"}}
