<script>
$script(['https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'],function(undefined){
  if(velma.feed.instagram!==undefined&&velma.feed.instagram!==null&&typeof velma.feed.instagram==='object'){
    $script(["instafeed.min.js"],function(){
        var obj={
          clientId: 'a525e19ee1494f158f029a78de89369e',
          limit: 9,
          get: 'user', // added
          sortBy: 'most-liked',
          resolution:'low_resolution',
          template: '<a style="display:inline-block;width:30%;padding-top:30%;margin:1.5%;position:relative;" href="\{{link}}"><div style="height:100%;width:100%;position:absolute;top:0;left:0;background-image:url(\{{image}});background-position:center;background-size:cover;"></div></a>',
        }
        $.extend(obj,velma.feed.instagram);
        var feed = new Instafeed(obj);
        feed.run();
    });
    $("#insta_widget").append('<div id="instafeed" class="instafeedp"><div class="text-center"><span class="priority">FOLLOW US ON INSTAGRAM</span><div class="absolute-occupier translucent" style="background:#000;"></div></div></div>');
  }
});
</script>
