{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! The big featured header }}
{{! The main content area on the homepage }}
	{{! Everything else gets inserted here }}
	{{> "fancyHeader"}}
<div style="margin:100px auto;" class="text-center">
<h1 class="post-heading">	Sadly, The Page You are Looking for is not Available</h1>
<h3>Let's go to <a href="{{@blog.url}}"><strong>Home Page</strong></a> and try something else</h3>
</div>

	{{> "fancyFooter"}}
